@import url("https://fonts.googleapis.com/css2?family=Anton&family=Titillium+Web&display=swap");

/*-------------------------Colours */

.bg-color {
    background-color: rgba(34, 33, 33, 1);
}

.title-color {
  color: #fafafa;
}

.header-bg {
  background-color: rgba(34, 33, 33, 1);
}

/*-------------------------Body */

body {
  font-family: "Anton", sans-serif;
}

a {
  color: #fafafa;
  text-align: center;
}

/*-------------------------Header */

.title {
  text-align: center;
  font-size: 150%;
}

.www-nav {
  color: #fff;
  text-decoration: none;
  background-color: rgba(27, 18, 155, 0.8);
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin: 0px 15px;
}

.www-nav-items {
  color: #fff;
  text-decoration: none;
  font-size: 150%;
  position: relative;
  padding-top: 10px;
  letter-spacing: 1.2px;
}

.www-nav-items a:hover {
  color: #b8b8b8;
}

.active {
  text-decoration: underline;
}

/*-------------------------Footer */

/*-------------------------Introduction */

/*-------------------------People */

/*-------------------------History */

/*-------------------------Media Queries */