@import url("https://fonts.googleapis.com/css2?family=Anton&family=Titillium+Web&display=swap");

/*-------------------------Colours */

.bg-color {
    background-color: rgba(34, 33, 33, 1);
}

.title-color {
  color: #fafafa;
}

.header-bg {
  background-color: rgba(34, 33, 33, 1);
}

.footer-bg {
  background-color: rgba(34, 33, 33, 1);
}

/*-------------------------Body */

body {
  font-family: "Anton", sans-serif;
}

a {
  color: #fafafa;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

/*-------------------------Header */

.title {
  text-align: center;
  font-size: 150%;
}

.www-nav {
  color: #fff;
  text-decoration: none;
  background-color: rgba(27, 18, 155, 0.8);
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin: 0px 15px;
}

.www-nav-items {
  color: #fff;
  text-decoration: none;
  font-size: 150%;
  position: relative;
  padding-top: 10px;
  letter-spacing: 1.2px;
}

.www-nav-items a:hover {
  color: #b8b8b8;
}

.active {
  text-decoration: underline;
}

/*-------------------------Footer */

footer {
  color: #fafafa;
  min-height: 120px;
  margin: 0;
  text-align: center;
}

footer p {
  font-size: 110%;
  color: #fafafa;
}
.cv-pdf i {
  font-size: 18px;
  color: #fafafa;
  text-align: center;
  padding-left: 5px;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
  color: #fafafa;
}

.social-links {
  padding-bottom: 15px;
}

/* Social Links styles & color change animation */
.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #8f8f8f;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background-color: #302ec5;
}

#footer-details {
  padding: 20px;
}

/*-------------------------Introduction */

.para {
  font-family: "Titillium", sans-serif;
  letter-spacing: 1.5px;
  margin: 80px 0px;
  overflow: hidden;
  color: #2b2b2b;
}

/* Intro paragraph styles and animation */
.intro-para {
  text-align: center;
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
  border: 5px;
  border-color: #000;
  margin: 50px;
  list-style: none;
  padding: 50px;

  animation-name: intro-para-zoom;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes intro-para-zoom {
  from {
    transform: scale(0.01);
  }
  to {
    transform: scale(1.1);
  }
}

ul .intro-para {
  margin: 0;
}

.intro-para-first {
  font-size: 300%;
}

.intro-para-second {
  font-size: 200%;
}

.intro-para-third {
  font-size: 200%;
}

.intro-para-first,
.intro-para-second,
.intro-para-third {
  margin-right: 10px;
  margin-left: 10px;
  padding: 25px;
}

/*-------------------------People */

/*-------------------------History */

/*-------------------------Media Queries */